<section class="container">
        <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar class="header-image" (click)="openGit(user?.html_url)" [ngStyle]="{'background-image': getAvatar(user?.avatar_url)}" ></div>
              <mat-card-title>{{user?.name}}</mat-card-title>
              <mat-card-subtitle>{{user?.login}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="mid">
                <p>{{user?.bio}}</p>
                <p><span style="color: #3f51b5; font-weight: 800;">Location:</span>{{user?.location}}</p>
              </mat-card-content>
            <mat-card-actions class="action">
                <button mat-stroked-button>Public Repos: <span style="color: #3f51b5; font-weight: 800;">{{user?.public_repos}}</span></button>
                <button mat-stroked-button>Followers: <span style="color: #3f51b5; font-weight: 800;">{{user?.followers}}</span></button>
                <button mat-stroked-button (click)="openGit(user?.html_url)" color="primary">Visit Git Page</button>
            </mat-card-actions>
        </mat-card>
</section>