<h2 style="padding: 1em 3.5em;">List of Repos by {{username}}</h2>
<section class="container">
    <ng-container *ngIf="repos.length">
        <ng-container *ngFor="let repo of repos; let i = index;">
            <mat-card class="card">
                <mat-card-header>
                  <div mat-card-avatar class="header-image" ></div>
                  <mat-card-title>{{repo.name}}</mat-card-title>
                  <mat-card-subtitle>{{repo.owner.login}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="para">{{repo.description}}</p>
                </mat-card-content>
                <mat-card-actions class="action">
                    <button mat-stroked-button (click)="openGit(repo.html_url)" color="primary">Visit Git Page</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!repos.length">
        <div class="error">
            <p>No repos for the user</p>
            <p *ngIf="errorText">{{errorText}}</p>
        </div>
    </ng-container>

</section>